body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;

}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: rgb(29, 27, 27);
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 40px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
  font-weight: 700;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  /* background-color: #5ca9fb;*/
  /* background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%); */
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  /* border: 0; */
  border: 2px solid #fff;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  background-color: #6372ff;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/merkle-bg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: #5ca9fb;
}
.intro p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  padding-top: 128px;
  padding-bottom: 100px;
  text-align: center;
}
/* Features Section */
#features {
  background: #f6f6f6;
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
/* About Section */
#about {
  padding: 40px 0;
  background: #0E040F;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
  font-weight: 700;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  line-height: 24px;
  margin: 10px 0;
  font-weight: 700;
}
#about .whbg {
  display: table;
  width: 100%;
  border-radius: 40px 40px 0 0;
  padding: 0;
  background: url(../img/IMG_2607.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-color: white white rgba(255, 255, 255, 0) white;
  border-style:solid;
    border-width:2px;
}
#about .overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 0 0;
}
#about .flower {
  display: table;
  width: 100%;
 
  padding: 0;
  background: url(../img/IMG_2610.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-color: rgba(255, 255, 255, 0) white rgb(255, 255, 255) white;
  border-style:solid;
    border-width:2px;
}








/* Services Section */
#services {
  padding: 20px 0;
  /* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
  background: #0E040F;
  color: #fff;
}
#services .service-desc {
  margin: 10px 10px 20px;
}
#services h2 {
  color: #fff;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background:linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#services h3 {
  font-weight: 700;
  padding: 5px 0;
  color: #fff;
}
#services p {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 700;
}
#services .service-desc {
  margin-bottom: 40px;
}
#services .services-img {
  width: 240px;
}
#services .whbg {
  display: table;
  width: 100%;
  border-radius: 40px 40px 40px 40px;
  padding: 0;
  background: url(../img/Service-bg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-color: white ;
  border-style:solid;
  border-width:2px;
  margin: 0px 15px 0px 15px;
}
#services .overlay {
  background: rgba(0, 0, 0, 0.5);
  margin-top: -10px;
  border-radius: 40px 40px 40px 40px;
}
@media screen and (max-width: 500px) {
  #services .whbg {
    margin: 0px ;
  }}


/* Portfolio Section */
#portfolio {
  padding: 100px 0;
}
.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0%,
    rgba(92, 169, 251, 0.8) 100%
  );
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}

/* project Section */
/*#project {
  padding: 35px 0;
  background: #0E040F;
}
#project i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}*/




/* Testimonials Section */
#testimonials {
  padding: 35px 0;
  background: #0E040F;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
/* Team Section */
#team {
  padding: 100px 0;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}
/* Contact Section */
#contact {
  padding: 100px 0 60px;
  background: linear-gradient(to right, #497097 0%, #5c2662 100%);
  color: rgba(255, 255, 255, 0.75);
}
#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 16px;
  font-weight: 700;
}
#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 700;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}
/* Footer Section*/
#footer {
  background: #0e040f;
  padding: 30px 0;
}
#footer p {
  color: #888;
  font-size: 14px;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}




/*tabs*/


/* price Section */
#price {
  padding: 35px 0;
  background: #0E040F;
}
#price i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}


#tab h3 {
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width:400px) {
  #tab h3 { font-size: 10px; }
}
@media only screen and (max-width:400px) {
  #tab h2 { font-size: 18px; }
}

#tab h4 {
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: rgb(255, 187, 0) 0 -2px;
}

#tab .wrapper{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  #tab .wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #tab .wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #tab .wrapper {
    width: 1170px;
  }
}


#tab .wrapper header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}
#tab .wrapper nav{
  position: relative;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  
}
#tab .wrapper nav label{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 1;

  font-size: 17px;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.3s ease;

  color: #fff;
  font-family: "Raleway", sans-serif;
  
  font-weight: 600;
  text-transform: uppercase;
  /* text-shadow: #2764AF 0 -2px; */

}
#tab .wrapper nav label:hover{
  background: rgba(23,162,184,0.3);
  border-radius: 5px 5px 0 0;
}
#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
#code:checked ~ nav label.code,
#help:checked ~ nav label.help,
  #aaa:checked ~ nav label.aaa{
  color: #fff;
}
nav label i{
  padding-right: 7px;
}
nav .slider{
  position: absolute;
  height: 100%;
  width: 20%;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to right, #497097dd 0%, #5c2662b3 100%);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#blog:checked ~ nav .slider{
  left: 20%;
}
#code:checked ~ nav .slider{
  left: 40%;
}
#help:checked ~ nav .slider{
  left: 60%;
}
#aaa:checked ~ nav .slider{
  left: 80%;
}
#tab section .content{
  display: none;
  /* background: rgba(119, 119, 119, 0.72); */
}


#home:checked ~ section .content-1,
#blog:checked ~ section .content-2,
#code:checked ~ section .content-3,
#help:checked ~ section .content-4,
#aaa:checked ~ section .content-5{
  display: block;
}
section .content .title{
  font-size: 21px;
  font-weight: 500;
  margin: 30px 0 10px 0;
}
/* section .content p{
text-align: justify;
} */


.content-body::-webkit-scrollbar {

  width: 7px;

}

.content-body::-webkit-scrollbar-button {

  background: transparent;

  border-radius: 4px;

}

.content-body::-webkit-scrollbar-track-piece {

  background: wheat;
  border-radius: 4px;

}

.content-body::-webkit-scrollbar-thumb {

  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0.4);

  border: 1px solid slategrey;

}

.content-body::-webkit-scrollbar-track {

  box-shadow: transparent;

}

.content-body .h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #fff;
  /* text-shadow: rgb(17, 0, 255) 0 -2px; */
}

.content-body {
  padding: 10px 5px;
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  overflow-y:scroll;
  border-radius: 0 0 10px 10px;
  background: rgba(192, 190, 190, 0.733);
  position: relative;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

#tab .store{
  padding: 10px;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  border: #ebebeb;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: start;
  min-width: max-content;
  
}
#tab  .store .photo{
  width: 130px;
  height: 130px;
  border: #ebebeb;
  border-style: solid;
  position: relative;
  bottom: 0%;
  left: 0%;
  
}

#tab .store .photo img{
  max-width: 100%;
  max-height: 100%;
}

#tab .store .tex{
  width: 200px;
  height: 130px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: #ebebeb00;
  border-style: solid;
}

#tab .store .discount{
  width: 200px;
  height: 130px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: #ebebeb00;
  border-style: solid;
}
@media only screen and (max-width:700px) {
  #tab .store .discount { display: none; }
}
@media only screen and (max-width:200px) {
  #tab .store .tex { display: none; }
}
@media only screen and (max-width:400px) {
  #tab .store .tex { 
    width: 140px;
    margin-left: 0px;
    margin-right: 0px;}
}
@media only screen and (max-width:500px) {
  #tab .store .bot { display: none; }
}

#tab .store .bot{
  
  height: 150px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: #ebebeb00;
  border-style: solid;
  justify-content: start;
  min-width: fit-content;
}

#tab  .card {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 242px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(86px);
  transform: scale(1.2);
  transition: 0.5s;
  background-image: url('https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
  
}


#tab section .content .project-boxes {
  margin: 0 -8px;
  overflow-y: auto;
}
#tab section .content .project-boxes.jsGridView {
  display: flex;
  flex-wrap: wrap;
}
#tab section .content .project-boxes.jsGridView .project-box-wrapper {
  width: 33.3%;
}
#tab section .content .project-boxes.jsListView .project-box {
  display: flex;
  border-radius: 10px;
  position: relative;
}
#tab section .content .project-boxes.jsListView .project-box > * {
  margin-right: 24px;
}
#tab section .content .project-boxes.jsListView .more-wrapper {
  position: absolute;
  right: 16px;
  top: 16px;
}
#tab section .content .project-boxes.jsListView .project-box-content-header {
  order: 1;
  max-width: 120px;
}
#tab section .content .project-boxes.jsListView .project-box-header {
  order: 2;
}
#tab section .content .project-boxes.jsListView .project-box-footer {
  order: 3;
  padding-top: 0;
  flex-direction: column;
  justify-content: flex-start;
}
#tab section .content .project-boxes.jsListView .project-box-footer:after {
  display: none;
}
#tab section .content .project-boxes.jsListView .participants {
  margin-bottom: 8px;
}
#tab section .content .project-boxes.jsListView .project-box-content-header p {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#tab section .content .project-boxes.jsListView .project-box-header > span {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 12px;
  font-weight: bolder;
}
#tab section .content  .project-boxes.jsListView .box-progress-wrapper {
  order: 3;
  flex: 1;
}

#tab section .content .project-box {
  --main-color-card: #dbf6fd;
  border-radius: 30px;
  padding: 16px;
  background-color: var(--main-color-card);
}
#tab section .content .project-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: var(--main-color);
}
#tab section .content .project-box-header span {
  color: #000000;
  opacity: 0.7;
  font-size: 14px;
  line-height: 16px;
  font-weight: bolder;
}
#tab section .content .project-box-content-header {
  text-align: center;
  margin-bottom: 16px;
}
#tab section .content .project-box-content-header p {
  margin: 0;
}
#tab section .content .project-box-wrapper {
  padding: 8px;
  transition: 0.2s;
}

#tab section .content .box-content-header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  opacity: 0.7;
}

#tab section .content .box-content-subheader {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.7;
}

#tab section .content .project-box-footer {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  position: relative;
}
#tab section .content .project-box-footer:after {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: calc(100% + 32px);
  top: 0;
  left: -16px;
  height: 1px;
}

#tab section .content .add-participant {
  width: 40%;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  /*margin-left: 6px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* project */
#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80vh;
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
  background-color: #0E040F;
}

@media (prefers-color-scheme: dark) {
  #project:not(.light) {
    background: #232223;
    color: white;
  }
}
#project .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
#project .ops {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
 /*min-width: 600px;
  max-width: 900px;*/
  min-width: 90%;
  min-height: 60vh;
  width: calc(100% - 100px);
  height: 400px;
}
/*@media screen and (max-width: 718px) {
  #project .ops {
    min-width: 520px;
  }
  #project .ops .op:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  #project .ops {
    min-width: 440px;
  }
  #project .ops .op:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  #project .ops {
    min-width: 360px;
  }
  #project .ops .op:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  #project .ops {
    min-width: 280px;
  }
  #project .ops .op:nth-child(2) {
    display: none;
  }
}*/
#project .ops .op {
  position: relative;
  overflow: hidden;
  max-width: 10vw;
  margin: 10px;
  background: var(--opBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition:0.3s cubic-bezier(0.1, 0.7, 1.0, 0.1);
 /* transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);*/
}
#project .ops .op:nth-child(1) {
  --defaultBackground:#ED5565;
  background-image: url(../img/1662201040446.jpg);
}
#project .ops .op:nth-child(2) {
  --defaultBackground:#FC6E51;
  background-image: url(../img/S__220889090.jpg);
}
#project .ops .op:nth-child(3) {
  --defaultBackground:#FFCE54;
  background-image: url(../img/S__220889094.jpg);
}
#project .ops .op:nth-child(4) {
  --defaultBackground:#2ECC71;
  background-image: url(../img/1662201570572.jpg);
}
#project .ops .op:nth-child(5) {
  --defaultBackground:url(../img/S__220889096.jpg);
}
#project .ops .op:nth-child(6) {
  --defaultBackground: url(../img/S__220889096.jpg);
}
#project .ops .op.ac {
  flex-grow: 10000;
  transform: scale(1);
  /*max-width: 600px;*/
  min-width: 60vw;
  margin: 0px;
  border-radius: 40px;
  /*background-size: auto 100%;*/
  /*&:ac {
     transform:scale(0.9);
  }*/
}
#project .ops .op.ac .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
#project .ops .op.ac .label {
  bottom: 20px;
  left: 1px;
}
#project .ops .op.ac .label .info > div {
  left: 0px;
  opacity: 1;
}
#project .ops .op:not(.ac) {
  flex-grow: 1;
  border-radius: 30px;
}
#project .ops .op:not(.ac) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
#project .ops .op:not(.ac) .label {
  bottom: 10px;
  left: 10px;
}
#project .ops .op:not(.ac) .label .info > div {
  left: 20px;
  opacity: 0;
}
#project .ops .op .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#project .ops .op .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#project .ops .op .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
#project .ops .op .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
#project .ops .op .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
#project .ops .op .label .info .main {
  font-weight: bold;
  font-size: 2.5rem;
}
#project .ops .op .label .info .sub {
  transition-delay: 0.1s;
}